html,
body {
  height: 100%; /* Important for allowing child elements to use percentage heights */
  margin: 0; /* Removes the border/gap around the edge of the screen */
  padding: 0;
}

#root {
  min-height: 100vh; /* Ensures the container fills the full viewport */
  display: flex; /* Optional: Helpful for making App content fill the height */
  flex-direction: column;
}